<div class="card">
    <div class="card-block">
        <h1>{{ title }}</h1>
        <div class="form-group">
            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Поиск">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="table-id">ID</th>
                    <th>Name</th>
                    <th class="table-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="task">
                    <td class="table-id">1</td>
                    <td>
                        <p class="task-name">Lorem</p>
                        <p class="task-info">Ipsum | Set amet</p>
                    </td>
                    <td class="table-actions">
                        <button class="btn btn-sm btn-danger" (click)="deleteTask(task._id)"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
                <tr *ngFor="let task of tasks | searchFilter:search | paginate: { itemsPerPage: 10, currentPage: p }" class="task">
                    <td class="table-id">{{ task.id }}</td>
                    <td>
                        <p class="task-name">{{ task.name }}</p>
                        <p class="task-info">{{task.type}} | {{task.description}}</p>
                    </td>
                    <td class="table-actions">
                        <button class="btn btn-sm btn-danger" (click)="deleteTask(task._id)"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="tasks">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>