.card-tasks {
    margin-bottom: 1rem;
}

.table-id {
    width: 60px;
    text-align: center;
}

.table-actions {
    width: 100px;
    text-align: center;
}

.task-name,
.task-info {
    margin-bottom: 0;
}

.task-info {
    max-height: 0;
    /*margin-top: 1em;*/
    font-size: 0.75rem;
    color: #636c72;
    overflow: hidden;
    transition: height 0.2s;
    transition-delay: 0.1s;
}

.task.active {
    background: #fbfbfb;
}

.task.active .task-info {
    margin-top: 1em;
    max-height: 200px;
    transition: height 0.1s;
}

.task-type,
.task-description {
    margin: 0;
    font-size: 0.875rem;
    color: #333;
}